.container{
    position: relative;
    text-align: center;
    color: white;
    margin-top: 50px;
}
.top-center{
    text-align: center;
    font-family: monospace;
}
.nishant-img{
    height: 50%;
    width: 50%;
}
.resume-link{
    text-align: center;
}
.skills-h1{
    text-align: center;
    margin-top: 50px;
    color: green;
    font-family: monospace;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
}
.card-header,.card-text,.card-title{
    color: black;
}
.card-container{
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.card-main{
    margin: 15px;
}
.card-inotebook{
    height: 623px;
}
.contactus{
    color: black;
}
.slider-pic{
    width: 550px;
}
.skills-container{
    height: 1000px;
}
.skill-name{
    margin-right: -1rem!important;
    margin-left: 1rem!important;
}